body { background-color: #0b0c10; color: #c5c6c7; }
nav.navbar { background-color: #1f2833 !important; }
a { color: #66fcf1; }
.btn-primary { background-color: #45a29e; border-color: #45a29e; }
.list-group-item { background-color: #1f2833; color: #c5c6c7; border-color: #293744; }
.alert-info { background-color: #1f2833; color: #c5c6c7; border-color: #293744; }


